<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>

        
    <h1>Detail form</h1>

    <form method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>

        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" ><br><br>

        <label for="username">username:</label><br>
        <input type="text" id="username" name="username" ><br><br>

        
        <input type="submit" value="Submit">
     
      </form> 
      <img src="/images/cat.jpeg" alt="cat">
    
    


    
</body>
</html>